body {
    text-align: center;
    margin-top: 50px;
    background-color: azure;
}

.kokoAlue {
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 20px
}

.peliAlue {
    flex: 2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.voittoTaulu {
    flex: 1;
    background-color: azure;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.voittoTaulu h2 {
    margin-top: 0;
}

.voittoTaulu table {
    width: 100%;
    border-collapse: collapse;
}

.voittoTaulu table, .voittoTaulu th, .voittoTaulu td {
    border: 1px solid azure;
}

.voittoTaulu th, .voittoTaulu td {
    padding: 10px;
    text-align: center;
}

.symbolit {
    width: 40px;
    height: 40px;
}
.rulla {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 2px solid black;
    font-size: 40px;
    line-height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.rulla.locked::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/413-projekti/images/lukitse.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

#saldo, #panos {
    font-size: 20px;
    margin: 10px;
}

.panosNappi {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin: 5px;
    cursor: pointer;
}

#panosNapit {
    margin: 20px 0;
}

#rullat {
    margin: 20px 0;
}

#viesti {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    min-height: 24px;
}

#pelaaNappi {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 50px;
}